<h1>Change Password</h1>

<% if (hasMessages) { %>
    <ul>
    <% messages.forEach(function(message){ %>
      <li><%= message %></li>
    <% }); %>
    </ul>
<% } %>
<form action="/auth/change_password" method="POST">
    <input type="password" name="old_password" placeholder="old password"/>
    <input type="password" name="password" placeholder="new password"/>
    <input type="password" name="password_confirmation" placeholder="re-enter new password"/>
    <input type="submit" value="Submit"/>
</form>

<a href="/user/info">Dashboard</a>