<h1>Login</h1>

<% if (hasMessages) { %>
    <ul>
    <% messages.forEach(function(message){ %>
      <li><%= message %></li>
    <% }); %>
    </ul>
<% } %>

<form action="/auth/login" method="POST">
    <input type="text" name="email" placeholder="email"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Submit"/>
</form>

<%- include('third_party_login') -%> 

<li><a href="/auth/register">Sign Up</a></li>
